**/__pycache__/
*.pyc
wandb/
outputs/
slurm-*.out
slurm-*.err
lamer-*.out
lamer-*.err
.env.language_table
.env.language_table.secrets
.env.azure
.env.azure.secrets
.env.sagemaker
logs/
checkpoints/
*.csv
evals
.vscode
*.mp4
pyrightconfig.json
